22.01.2025.txt
doc/adc.txt
doc/adc_inj.txt
doc/calibr.xlsx
doc/full_schematic.png
doc/hd44780.xlsx
doc/P2K_Att.jpg
doc/sinus.xlsx
doc/stm32f103c8t6_pinout_voltage01.png
doc/stm32f103c8t6_schematic.png
doc/V_rms.jpg
doc/view1.png
doc/AD9833/AD9833.c
doc/AD9833/AD9833.h
proteus/
